.container {
    background-color: white;
    width: 500px;

    height: 100vh;

    position: absolute;

    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: var(--box-shadow);

    transform: translateX(0);
    transition: transform 0.3s ease-in-out;


}

.hide {
    transform: translateX(100%);
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;


    margin: 0 52px;

}

.title {
    font-size: 28px;

    color: #000000;

    margin-bottom: 27px;
}

.label {
    margin-bottom: 12px;
}

.input {

    height: 50px;

    margin-bottom: 24px;

    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 4px;
    padding-left: 19px;
}

.input:focus {
    outline: none;
}

.logInBtn {
    padding: 16px 0;

    margin-top: 24px;
    background-color: #0D6EFD;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 18px;

    color: #FFFFFF;

    cursor: pointer;

    transition: all 0.15s ease-in-out;

    box-shadow: var(--box-shadow);
}

.logInBtn:hover {
    background-color: #3786fc;
}

.messageLogin {
    height: 40px;
    color: #dc3545;
    font-weight: 700;
}

.hideButton {
    position: absolute;
    top: 12px;
    right: 12px;

    cursor: pointer;
}